body{
    margin: 0px;
    padding: 0px;
    background-image:url('/uploads/bg.jpg');
    background-size: cover;
}
.header {
    background-color: #3b2d7a;
    width: 100%;
    padding: 10px 10px;

}
.heading{
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.tabs {
    color: #ffff;
    font-size: 15px;
    font-weight: 600;
    
    
}

.list-items a:hover{
    color: #ffff !important;
    border-radius: 30px;
    background-color: black !important;
    
}
